h1 {
  color: green;
  font: "Times New Roman";
}
h2 {
  color: blue;
  font: "Times New Roman";
}
body {
  <body background="backgroundone.jpg">
  
}
.button {
  background-color: #FC009B;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.container {
  color: purple;
  font: "Times New Roman";
}
